
.vscode/tasks.json
.vscode/launch.json
Assignments or HW/Wk1HWCodeTranslation/Exercise06_30
*.exe
Assignments or HW/Wk1HWCodeTranslation/Exercise07_11.class
*.class
Assignments or HW/Wk1HWCodeTranslation/Exercise07_11
*.dSYM
Assignments or HW/Wk1HWCodeTranslation/Exercise07_19
*.exec
Assignments or HW/Wk1HWCodeTranslation/Exercise07_23


# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Ignore files with extension `.class` & `.sm`
*.class
*.sm

# Ignore `bin` dir
bin/
# or
*/bin/*

# Unignore all `.jar` in `bin` dir
!*/bin/*.jar

# Ignore all `library.jar` in `bin` dir
*/bin/library.jar

# Ignore a file with extension
relative/path/to/dir/filename.extension

# Ignore a file without extension
relative/path/to/dir/anotherfile
Class Code/Week 2/.DS_Store
Class Code/Week 2/Week2PointerCode.dSYM/Contents/Info.plist
.vscode/tasks.json
.DS_Store
.gitignore
Lab/Lab 2/.DS_Store

# Ignore zip files
.zip
.vscode/launch.json
.vscode/tasks.json
.vscode/launch.json

*.plist
Assignments or HW/~$Wk8HW.docx
